.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main {
  background-color: #f7f7f7;
  flex: 1;
}

.dropdown-icon {
  color:#aaa
}

.download-button {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  cursor: pointer;
}

.hamburger-icon {
  color:#aaa;
  margin-left: 20px;
}

.logo-image {
  width: 200;
  height: 167px;
  margin: 14px 0 40px;
}

.header {
  background-color: #f7f7f7;
  display: block;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 23px;
  padding-bottom: 0;
  margin: 0 auto;
  height: auto;
  justify-content: flex-end;
  text-align: right;
}

.search-wrapper{
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: none;
  display: block;
  float: none;
}

.search-form {
  width: 100%;
  flex: 1 0 auto;
  max-width: 665px;
  margin: 0 auto;
  padding-left: 1em;
  padding-top: 1px;
  font-size: 1.14em;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  position: relative;
  height: 2.8em;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 2px 3px rgb(0 0 0 / 6%);
}

.search-input {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 1.1em;
  display: inline-flex;
  flex-grow: 1;
  font-weight: normal;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  height: 2.545455em;
  z-index: 1;
  position: relative;
  top: -1px;
}

.search-button {
  text-align: center;
  border-radius: 0 4px 4px 0;
  display: inline-flex;
  min-width: 26px;
  border: none;
  color: #999;
  font-size: 1.25em;
  padding: 0 .64em;
  height: auto;
  min-height: 1.8em;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -3px;
  line-height: 1.5;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-font-smoothing: subpixel-antialiased;
}


.App-header {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.privacy-text {
  font-size: 14.4px;
  color: #888;
}

body{
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}
