@font-face {
  font-family: 'Metropolis Regular';
  src: url('/public/true-type/Metropolis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Metropolis Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Metropolis Regular', 'Proxima Nova', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
