/* src/styles/components.css
   Shared component styles (buttons, forms, etc). */

button {
  border: 1px solid;
  border-color: var(--border);
  border-radius: 4px;
  padding-top: 4px;
  cursor: pointer;
  background-color: var(--search-bg);
  color: var(--search-text);
}

.download-button {
  border-radius: 4px;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  /* text-shadow: 0 1px 0 #fff; */
  white-space: nowrap;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.download-icon {
  margin-right: 0.5rem;
}

.moon {
  color: var(--search-text);
}
